/* src/styles/checkout.css */

.checkout-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(245,239,215);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow:  5px 5px 20px #000000; /* Adjust values as needed */

  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .checkout-items {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .checkout-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }

  .checkout-item p{
    color: black;
    font-size: 1.3rem;
  }
  
  .checkout-summary {
    margin-top: 20px;
    text-align: right;
  }
  
  .confirm-purchase-button {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .confirm-purchase-button:hover {
    background: #218838;
  }
  